# See https://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
/src/dist
/src/tmp

# dependencies
/node_modules
/bower_components

# misc
/src/.sass-cache
/src/connect.lock
/src/coverage/*
/src/libpeerconnection.log
/srcnpm-debug.log*
/src/yarn-error.log
