# See https://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
/dist
/tmp
/.cache

# dependencies
/node_modules
/bower_components

# misc
.env
/.sass-cache
/src/connect.lock
/src/coverage/*
/src/libpeerconnection.log
/srcnpm-debug.log*
yarn-error.log
